@import url('./fonts/fonts.scss');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Apercu;
}

body {
    background: linear-gradient(90deg, #fdfbfb 0%, #81c5e2 100%);
}